{{#link-to 'post' post.id}}
  <div class="post-link">
    <img src={{post.image}}/>
    <div class="title">
      <h3>{{post.title}}</h3>
      <h6>By <span>{{post.author}}</span></h6>
    </div>
  </div>
{{/link-to}}
